/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
	font-family: dam;
	src: url(../fonts/Ageya.ttf);
}

* {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------
 My code starts from this line 
 --------------------------------------------------------*/
:root {
	--brand-color: #f01fa0;
	--brand-name: rgb(241, 165, 25);
}

body {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;

}


.container {
	padding: 0.5em;
}


a {
	text-decoration: none;
	font-size: 1.3rem;
	font-family: sans-serif;
	font-weight: normal;
}

.hero-imag-1 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	/* background-image: url(../image/arabisque-6.png); */
	background-size: cover;
	width: 100%;
	height: 125px;
	z-index: -1;
}

.logoarea {
	align-items: center;
	min-height: 50px;
}

.logoarea #logo {
	display: flex;
	align-items: center;
	width: 60%;
	margin: auto;
	padding-top: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
}

.navcon {
	background: url(../image/arabisque-6.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

nav ul li {
	/* background-color: #fff; */


	width: 80px;
	height: 40px;

	padding-bottom: 0;
	text-align: center;
	/* border-right: 1px solid gray; */

}

nav ul li a {
	margin: 0 10px;
	display: block;
	justify-items: center;
	text-decoration: none;
	color: black;
	font-size: 1rem;
	line-height: 40px;
	align-items: center;


}


#menunav {
	color: #0e9024;
	font-size: 1.2rem;
}


nav ul li a:hover {
	color: rgb(50, 116, 11);
	text-decoration: underline;
}

nav ul li:hover {
	transform: translatex(4px)
}

nav ul li a:active {
	color: red;
	text-decoration: none;
}

nav ul li:active {
	transform: translatex(0px) scale(1.1);

}

/* hero section Food MENU */

h1 {
	font-family: dam;
	color: var(--brand-name);
	font-size: 45px;
	margin: 30px;
	text-align: center;
	;
}

.container {
	padding: 0;
	margin: 0;

}

.container p {
	margin: auto;
	padding-bottom: 30px;
	width: 400px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	text-align: center;
}

.img-frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	margin: 2px 0;
	padding: 20px 0;

}

.img-frame img {
	margin: 0 25px;
	width: 300px;
	height: 300px;
	border: #138808 solid 3px;
	background-color: azure;
}
.img-frame img:hover{
	cursor:pointer;
}

.img-frame h3 {
	font-family: dam;
	font-size: 1.4em;
	color: #490981;
	text-align: center;
	margin-top: 5px;

}

.menu-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-frame:nth-child(odd) {
	background-color: rgb(247, 221, 239);
}





/*-------------------------------------------------------

 --------------------------------------------------------*/


.main-content {

	background-color: rgb(247, 211, 236);


}

/*-------------------------------------------------------
Menu Section 
 --------------------------------------------------------*/



/*-------------------------------------------------------
 Footer styling starts here
 --------------------------------------------------------*/

footer {
	display: flex;
	flex-direction: column;
	background-color: var(--brand-color);
	/* border: #1ff026 solid 5px; */

	color: white;
	padding-top: 10px;

	font-family: Arial, Helvetica, sans-serif;

}


.box {


	text-align: center;
	height: 100px;


}

.box h3 {

	font-size: 1.2rem;
	padding-bottom: 10px;
	color: black;
	padding: 1rem;
}


.location {
	flex-grow: 1;
	flex-basis: 100%;
}

.contact {
	flex-grow: 1;
	flex-basis: 100%;
	gap: 10px;


}

.contact a {
	color: white;
	line-height: 1.3rem;
	font-size: 1em;


}

.contact a:hover {
	color: rgb(13, 12, 12);
}

.hours {
	flex-grow: 1;
	flex-basis: 100%;
}

.copyright {
	width: 100%;
	margin-top: 10px;
	padding: 15px;
	text-align: center;
	background-color: hsla(0, 87%, 3%, 0.293);
}


/* -----------------------------------------------------------------------------
Media Query
--------------------------------------------------------------------------------- */

@media (min-width:970px) {


	.hero-imag-2 {
		height: 300px;

		/* padding-top: 50px; */


	}

	h1 {

		font-size: 50px;


	}


	footer {
		margin-top: 6px;
		background-color: var(--brand-color);

	}

	.contain {
		display: flex;
		margin: 0 auto;
		padding: 0 5px;

		width: 100%;
		justify-content: center;
		align-items: center;

	}

	.box {


		text-align: center;

	}

	.box h3 {
		font-size: 1.2rem;
		margin-bottom: 5px;
		color: black;

	}

	hr {
		display: none;
	}


	nav ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-right: 0;
		flex-wrap: nowrap;
	}

	.navcon {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 150px;
	}

	.logoarea {
		margin-right: auto;
	}


	nav ul li {
		margin-right: 2em;
		/* padding: 5px 10px; */
		width: 40%;
		padding-bottom: 0;
		text-align: center;
		border-right: 1px solid gray;
		margin-bottom: 5px;
	}


	nav ul li a {
		justify-items: center;
		text-decoration: none;
		color: black;
		font-size: 1.2rem;
	}

	nav ul li a:hover {
		color: rgb(50, 116, 11);
		text-decoration: underline;
	}

	nav ul li:hover {
		transform: translatex(4px)
	}

	nav ul li a:active {
		color: red;
		text-decoration: none;
	}

	nav ul li:active {
		transform: translatex(0px) scale(1.1);
	}







	/* hero section Food MENU */

	h1 {

		font-size: 55px;

	}
	.container p{
		width: 50%;
	}

	.menu-wrapper{
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap:6px
	}
	.img-frame{
		margin:0;
		padding-top:30px;

	}
	.img-frame:nth-child(even) {
		background-color: rgb(247, 221, 239);
	}
	/*-------------------------------------------------------

 --------------------------------------------------------*/






}